*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
}

:root {
  --background: #f0edf2;
  --background-secondary: #e0dce4;
  --purple-primary: #6f3cc3;
  --purple-secondary: #ddd2ef;
  --green-primary: #2d6c4a;
  --green-secondary: #bfe3d0;
  --text-color: #6b6572;
  --text-task: #262428;
  --text-task-done: #6b6572;
  --task-background: #e0dce4;
  --task-border: #d1cbd7;

  --ff-sans: "Inter", system-ui, sans-serif;
  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-input: 1rem;
  --fs-subtitle: 0.85rem;
  --fs-md: 0.85rem;
}

body {
  font-family: var(--ff-sans);
  background-color: var(--background);
}

.container {
  max-width: 736px;
  margin: 0 auto;
  /* padding: 0px 24px; */
}

.text-input {
  font-size: var(--fs-input);
  line-height: 140%;
  color: var(--text-color);
}

.text-subtitle {
  font-size: var(--fs-subtitle);
  line-height: 120%;
  font-weight: 600;
  color: var(--text-color);
}

.text-md {
  font-size: var(--fs-md);
  line-height: 120%;
  color: var(--text-color);
}

.text-md-done {
  font-size: var(--fs-md);
  line-height: 120%;
  text-decoration: dotted;
  color: var(--text-color);
}
