#tarefas {
  margin-top: 91px;
}

#header-tarefas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tarefas-criadas {
  display: flex;
  align-items: center;
  gap: 8px;
}

#circle-tarefas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 22px;
  background-color: #ddd2ef;
  border-radius: 100%;
}

#quantidade-tarefas {
  color: var(--purple-primary);
  font-size: 12px;
  line-height: 120%;
  font-weight: 700;
}

#quantidade-concluida {
  color: var(--green-primary);
  font-size: 12px;
  line-height: 120%;
  font-weight: 700;
}

#circle-concluida {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 22px;
  background-color: #bfe3d0;
  border-radius: 100%;
}

#tarefas-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sem-tarefas-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 64px 24px;
  border-top: 1px solid var(--task-done-background);
}

.sem-tarefas-items div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-tarefa {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1rem;
  gap: 12px;
  background-color: var(--task-background);
  border-radius: 8px;
}

.card-tarefa-checked {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1rem;
  gap: 12px;
  border: 1px solid var(--task-border);
  border-radius: 8px;
}
